* {
    padding: 0;
    margin: 0;
    box-sizing: 0;

}

body {
    background: white;
    overflow-x: hidden;
}


.top {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: .7rem;
    padding-bottom: 1rem;
    background: rgba(7, 7, 7, 0.953);
    font-family: Tahoma;

    @media (min-width:1024px) {
        background: rgba(7, 7, 7, 0.953);
    }
    
    .logo {
        position: relative;
        height: 5vh;
        width: 10vh;
        margin-left: 10px;
        display: flex;
        

        img {
            // height: 5vw;
            position: absolute;
            top: 0;
            width: 70%;
            bottom: 0;
            left: 0;
            right: 0;
            object-fit: cover;
            filter: drop-shadow(-10px 10px 20px rgb(88, 8, 88));
            // margin-right: 2rem;
            // margin-left: 1rem;
            
        }

         h3 {
             font-size: 19px;
             width: 50rem;
             position: absolute;
             top: 2px;
             margin: auto;
             margin-left: 80px;
            //  background-color: red;
              background-image: linear-gradient(to right, white, rgba(30, 28, 28, 0.907));    
              background-size: cover;
              background-clip: text ;
            
              -webkit-background-clip: text;
              color: transparent;

              @media (max-width:768px) {
                display: none;
            }
         }

        
            
        
    }
    .open-menu{
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        position: absolute;
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
        // display: none;
      }
      
    
    #check {
        margin-right: 1.5rem;
        display: none;
      
    }

    @media (max-width:768px) {
        #check:checked ~ .nav-links{right: 0;}
    }

    @media (min-width:1024px) {
        .open-menu{
            display: none;
          }
        .nav-links{

            .close-menu{
                display: none;
            }
     
            a{
                 &:hover {
                 background-color: transparent;
                 color: white;
                 box-shadow: 2px 2px 8px black;
                 border: 1px solid transparent;
                //  padding-bottom: 1rem;
                 
           
                    &:hover::after{
                        width: 0;
                    }
    
             }
                padding: .7rem;
                padding-left: 1rem;
                padding-right: 1rem;
                border: 1px solid white;
                border-radius: 8px;
            }
        }
    }
   
    

    .nav-links {
        justify-content: center;
        align-items: center;
        display: flex;

        @media (max-width: 768px){
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 103vh;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 100;
            background: rgba(7, 7, 7, 0.953);
            transition: .2s ease-in-out;

           a{
            padding: 1px;
            margin-bottom: 8rem;
           }
          
        }
        
        
        .close-menu{
            position: absolute;
            color: white;
            cursor: pointer;
            font-size: 1.5rem;
            // display: none;
            top: 20px;
            right: 20px;

          
        }
 
      
        a {

            
            
            font-size: .9rem;
            display: inline-block;
            position: relative;
            text-decoration: none;
            margin-right: 10px;
            color: white;
            transition: all ease-in 0.2s;

            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background-color: white;
                transition: .15s ease-in-out;

            }
            &:hover::after{
                width: 100%;
            }
        }
       

    }
    
   
}

#home {
    // padding: 6rem 5rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding-bottom: -3rem;
    width: 100%;
    height: 53.2rem;
    font-family: Tahoma;

    @media (min-width:1024px) {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        .H_right{
            
        }
    }

    .H_right {
        // width: 38rem;
        // height: 2rem;
        // margin-right: -5rem;
        background-color: transparent;
        text-align: center;

        .words {

            //    margin-right: 2rem;
            h3 {
                margin-top: 5rem;
                font-size: 4rem;
                // filter: drop-shadow(-10px 10px 20px rgb(19, 73, 70));
                text-shadow: 5px 2px 10px black;
                // background-image: linear-gradient(to right, rgb(18, 18, 131), rgb(88, 8, 88));    
                // background-size: cover;
                // background-clip: text ;
                // -webkit-background-clip: text;
                color: black;
            }

            h4 {
                color: black;
                margin-top: 5px;
                // margin-left: -12rem;
            }
            
            p {
                color: black;
                margin-right: 5rem;
            }
        }
    }
    
    .H_left {
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        .image {
            margin-top: 3rem;
            img {
                filter: drop-shadow(-10px 10px 20px rgb(19, 73, 70));
                width: 100%;
            }

            p {
                font-size: 1.5rem;
                margin-top: 1rem;
                background-image: linear-gradient(to right, purple, blue);
                background-size: cover;
                margin-left: 5px;
                word-break: break-all;
                width: 100%;
                // padding-right: 10px;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;

                @media (min-width:1024px) {
                    word-break: normal;
                }

            }
        }
    }
}


#Services {

    .Wrap_Box {
        margin-top: 3rem;
    }



    .h2 {
        h2 {
            margin-top: -9rem;
            margin-left: 10px;
            margin-bottom: 5rem;
            font-size: 2rem;
            background-image: linear-gradient(90deg, black 6.5%, rgba(30, 28, 28, 0.382) 2%);
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;


        }
    }




    font-family: Tahoma;
    // background-color:rgb(19, 73, 70) ;
    // height: 220vh;
    padding-top: 10rem;
    padding-bottom: 5rem;
    margin-top: -1.8rem;
    // padding-bottom: 10rem;


    .first {

        display: flex;
        flex-direction: row;
        gap: 100px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 5rem;
        margin-bottom: 2rem;

        .Box_1 {
            padding: 4rem 1rem;
            width: 32vh;
            height: 28vh;
            background-color: #00001111;
            // margin-left: 6rem;
            align-items: center;
            text-align: center;
            border-radius: 2px;
            transition: all ease-in-out 0.5s;
            position: relative;

            &:hover {
                background-color: #04041618;
                box-shadow: 10px 10px 20px rgba(20, 20, 20, 0.883);
                transform: rotate(5deg);
            }

            img {
                border-radius: 3px;
                width: 100%;
                left: 0;
                top: 0;
                // z-index: 9;
                position: absolute;
                object-fit: fill;
            }

            .content {
                width: auto;
                color: black;
                bottom: 10px;
                // z-index: 10;
                position: absolute;

                h5 {
                    font-size: 1.5rem;
                    width: auto;
                }

                p {
                    margin-top: 4px;
                    color: black;
                }
            }
        }
    }
    .fourth {
    
        .Box_4 {
            //    padding: 4rem 1rem;
            width: 45vh;
            height: 42vh;
            background-color: #00001111;
            // margin-left: 25vh;
            margin: auto;
            align-items: center;
            text-align: center;
            border-radius: 2px;
            transition: all ease-in-out 0.5s;
            position: relative;
    
            &:hover {
                background-color: #04041618;
                box-shadow: 10px 10px 20px rgba(20, 20, 20, 0.883);
                transform: rotate(5deg);
    
            }
    
            img {
                border-radius: 3px;
                width: 100%;
                top: 0;
                left: 0;
                object-fit: fill;
                position: absolute;
            }
    
            .content {
                margin-top: 5px;
                position: absolute;
                bottom: 10px;
                color: black;
    
                h5 {
                    font-size: 1.5rem;
                    width: auto;
    
    
                }
    
                p {
                    margin-top: 4px;
                    color: black;
                }
            }
        }
    
    }

  
}


#about {
  
    height: auto;
    margin-left: 5px;
    font-family: Tahoma;

    @media (min-width:1024px) {

        background: url(../img/beef.png) no-repeat;
        background-position: right;
        height: 90vh;
        // width: 100%;
        padding: 1rem 4rem;
        margin-top: 3em;

        
       
    }


    h2 {
        margin-bottom: 1rem;
        background-image: linear-gradient(to right, black, blue);
        font-size: 2.5rem;
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    p {
       
        width: 100%;
        margin-bottom: 500px;
        word-wrap: break-word;
        color: black;
        font-weight: bolder;
        margin-bottom: 8px;
        
    }

}


#team {

    width: 100%;
    margin-bottom: 15em;
    font-family: Tahoma;

    @media (min-width:1024px) {
        .all{
            .A_Box12{
              display: flex;
              flex-direction: column;
              
                   
            }
           
        }
    }



    .all {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;



        .A_Box12 {
            // bottom: 10rem;
            // margin: 100px 0px 100px 0px;
            // left: 43rem;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            width: 50%;
            height: 10%;
            margin: auto;
            margin-top: 100px;
            color: black;

            img {
                height: 50%;
                width: 120%;
                border-radius: 3px;

                @media (min-width:1024px) {
                    height: 40vh;
                    width: 40vh;
                    border-radius: 0%;
                }
            }
        }

        .A_top {
            // background-color: #00001111;
            // position: absolute;
            // left: 12rem;
            gap: 100px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
            font-family: Tahoma;
            justify-content: center;


            .A_Box {
                // height: 42vh;
                //    margin-left: 10rem;
                //    margin-right: 10rem;
                margin-top: 2rem;
                color: black;
                width: 40vh;
                font-family: Tahoma;

                h3 {
                    color: black;
                    background-image: linear-gradient(to right, black, rgba(30, 28, 28, 0.671));
                    background-size: cover;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;

                }

                img {
                    border-radius: 3px;
                    height: 70%;

                    @media (min-width:1024px) {
                        height: 30vh;
                        border-radius: 0%;
                        
                    }

                }
            }
        }
    }


}


#Contact {
    // height: 16rem;

    @media (min-width:1024px) {
        background: url(../img/agba-removebg.png) no-repeat;
        background-size: 35%;
        background-position-x: right;
        padding: 5rem 3rem;
        // background-repeat: repeat-y;
    }
    display: flex;
    flex-wrap: wrap;
    font-family: Tahoma;
    color: black;
    padding: 3rem 3rem;


    .C_right {
        margin-bottom: 2rem;
        h2 {
            margin-bottom: 1rem;
        }

        p {
            // width: 28rem;
            margin-top: .2rem;
        }

        .icons {
            margin-top: 1rem;

            img {
                height: 2rem;
            }
        }

        .links {

            margin-top: .8rem;

            h3 {
                margin-bottom: 1rem;
            }

            a {

                margin-left: 5px;
                text-decoration: none;
                color: black;
            }


        }
    }

    .C_middle {
      
        @media (min-width:1024px) {
            background: white;
            position: relative;
            top: -9rem;
            right: -2rem;
        
        
        }
        
        cursor: pointer;
        box-shadow: -5px 5px 15px black;
        transition: all ease-in-out 0.5s;
        height: 16rem;
        padding: 2rem 5px;
        text-align: center;
        color: black;
        border-radius: 6px;

        &:hover {
            transform: rotate(10deg);
        }

        .Call {
            h4 {
                margin-bottom: 4px;
                text-decoration: underline;
            }

            p {
                margin-bottom: 5px;
            }
        }

        .Email {
            h4 {
                margin-bottom: 4px;
                text-decoration: underline;
            }

            p {
                margin-bottom: 5px;
            }
        }

        .B_H {
            h4 {
                margin-bottom: 4px;
                text-decoration: underline;
            }
        }

        .Location {
            h4 {
                text-decoration: underline;
            }

            p {
                // width: 14rem;
                margin-top: 4px;
                margin-left: 2rem;
                margin-bottom: 5px;
            }
        }
    }

    .C_left {

        @media (min-width:1024px) {

        }


        margin-top: 3rem;
        img {
            // margin: auto;
            // height: 50%;
            display: none;
        }
    }
}


#comment {
    // height: 38rem;
   
    margin-top: auto;
    font-family: Tahoma;


    @media (min-width:1024px) {
        background: url(../img/connect-removebg-preview.png) no-repeat;
        background-position-x: right;
        background-repeat: repeat-y;

    }



    h2 {
        font-size: 2rem;
        color: black;
        background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.525));
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-left: 10px;
    }

    .cmd {
        // margin-left: 2rem;
        margin-top: 2rem;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;


        ul {

            display: grid;
            grid-row: 2;
           

            li {
                list-style: none;
                margin-bottom: 2rem;

            }
        }


        #name {
            &::placeholder {
                color: black;
            }
            
            // font-size: ;
            color: black;
            border: 2px solid black;
            border-radius: 5px;
            padding: 5px;
            font-weight: 500;
            height: 35px;
            width: 93%;
            outline: none;
            background-color: rgba(128, 128, 128, 0.055);
            
            @media (min-width:1024px) {
                width: 40%;
            }
        
        
        }

        #email {
            &::placeholder {
                color: black;
            }

            color: black;
            border: 2px solid black;
            border-radius: 2px;
            padding: 5px;
            height: 35px;
            width: 93%;
            background-color: rgba(128, 128, 128, 0.055);
            
            @media (min-width:1024px) {
                width: 40%;
            }
        
        }

        #area {
            &::placeholder {
                color: black;
            }

            color: black;
            border: 2px solid black;
            border-radius: 2px;
            padding: 5px;
            width: 93%;
            background-color: rgba(128, 128, 128, 0.055);
        
            @media (min-width:1024px) {
                width: 40%;
            }
        }


        #submit {
            color: black;
            background-color: transparent;
            border: 2px solid black;
            border-radius: .5rem;
            padding: 1.5rem;
            margin-top: 10px;
            width: 97%;

            transition: ease-in-out .4s;

            &:hover {
                background: transparent;
                color: black;
                box-shadow: 2px 2px 8px black;
                cursor: pointer;

            }
            
            @media (min-width:1024px) {
                width: 10%;
                display: grid;
            }
        
        }

    }
}

